.glyphicon  {
    transition: font-size 0.2s ease-out;
}

.glyphicon :hover {
    font-size: 20px;
}

/* img.custom-thumbnail{
    display: inline-block;
    width: 128px;
    height: 128px;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
} */

ul.users-list li img {    
     border-radius: 0%; 
     max-width: 128px; 
     height: 128px; 
}